.content {
    background: rgba($background-color, 0.8);
    height: 100%;
    width: 80%;
    margin: auto;
    color: #fff;
    
    .about {
        padding: 3rem;
        width: 70%;
        margin: auto;

        h1 {
            font-size: 3rem;
            font-weight: 400;
            color: $button-color;
        }
    
        h3 {
            font-size: 1rem;
            font-weight: 300;
            line-height: 1.4;
            letter-spacing: 0.05rem;
        }

    }
   
}
